h1 Olá #{name},
p Você solicitou a recuperação de senha para o seu cadastro no site CodeLab.
p Para criar uma nova senha, clique no link abaixo:

a(href=link) Clique aqui para criar uma nova senha

p Atenção, link válido por 24 horas.